In [13]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb

In [14]:
true = pd.read_csv('True.csv')
trueData = pd.DataFrame(true)
to_drop= ['text','subject','date']
trueData.drop(to_drop, inplace=True, axis=1)
trueData.head()

                                               title
0  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...

In [15]:
fake = pd.read_csv('Fake.csv')
fakeData = pd.DataFrame(fake)
to_drop= ['text','subject','date']
fakeData.drop(to_drop, inplace=True, axis=1)
fakeData.head()

                                               title
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

In [16]:
months = ['(Jan','(Jan.','(January','(Feb','(Feb.','(February', '(Mar','(Mar.', '(March','(Apr','(Apr.','(April',\
         '(May','(Jun','(Jun.', '(June', '(July', '(Jul','(Jul.','(Aug','(Aug.','(August', '(Sept', '(Sept.','(September',\
         '(Oct','(Oct.','(October','(Nov','(Nov.','(November','(Dec','(Dec.','(December']
import re
word1 = 'Trump on Twitter'
word2 = 'Factbox:'
for index, row in trueData.iterrows():
    new = row['title'].split()
    #print(new)
    if word1 in row['title']:
        row['title']= row['title'].replace(word1, "",1)        
    if word2 in new:
        row['title']= row['title'].replace(word2, "",1)  
    for i in range(len(new)):
        if new[i] in months:
            row['title'] = re.sub("[\(\[].*?[\)\]]", "", row['title'])
            break
            
            
for index, row in trueData.iterrows():
    new = row['title'].split()
    flag =0
    for i in range(len(new)):
        if new[i][len(new[i])-1]==':' and (i== len(new)-2 or i== len(new)-3):
            flag =1
            break
    if flag:
        if (i== len(new)-2):
#             print(new[i+1])
            new.remove(new[i+1])
            space = ' '
            row['title'] = space.join(new)
#             print(row['title'])
        if (i==len(new)-3):
#             print(i)
#             print(len(new))
            new.remove(new[i+1])
            new.remove(new[i+1])
            space = ' '
            row['title'] = space.join(new)
#             print(row['title'])

# trueData.to_csv('cleaned_True.csv')
# for index,row in trueData.iterrows():
#     print(row['title'])

In [17]:
word1 = 'Boiler Room'
word2 = 'SUNDAY WIRE'
listOfWords = ['Boiler', 'Room', '–', 'EP','#', 'SUNDAY','WIRE:', 'EPISODE', 'Episode', 'Show']
for index, row in fakeData.iterrows():
    new = row['title'].split()
    if word1 in row['title'] or word2 in row['title']:
#         print(row['title'])
        for i in range(len(new)):
#             print(new[i])
            if new[i] in listOfWords or new[i][0] == '#':
                new[i] = ' '
        space = ' '
        row['title']=space.join(new)
#         print(row['title'])
     
    for i in range(len(new)):
        flag =0
        if new[i][0] == '(' and (i == len(new)-1 or i == len(new)-2):
            flag=1
            break;
    if flag:
        if i == len(new)-1:
            new.remove(new[i])
            space = ' '
            row['title'] = space.join(new)
        if i == len(new)-2:
#             print(row['title'])
            new.remove(new[i])
            new.remove(new[i])
            space = ' '
            row['title'] = space.join(new)
#             print(row['title'])

# fakeData.to_csv('cleaned_Fake.csv')

In [18]:
## converting all characters to lower to help with the model
fakeData['title'] = fakeData['title'].apply(lambda x: str(x).lower())
trueData['title'] = trueData['title'].apply(lambda x: str(x).lower())

In [19]:
## adding new classification column to the datasets to identify the difference between them
fakeData['class'] = 0
trueData['class'] = 1

totalData = fakeData.append(trueData, ignore_index=True)

In [20]:
## removing of special characters
import preprocess_kgptalkie as ps
totalData['title'] = totalData['title'].apply(lambda x: ps.remove_special_chars(x))

In [21]:
## convert to csv for the machine learning portion
totalData.to_csv('totalData.csv')