In [65]:
import pandas as pd
import numpy as np
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [66]:
totalData = pd.read_csv('https://raw.githubusercontent.com/indicium15/sc1015-project/main/totalData.csv')
totalData.drop(['Unnamed: 0'], inplace=True, axis=1)
print(totalData.shape)
totalData = totalData.dropna()
print(totalData.shape)

(44898, 2)
(44891, 2)

In [67]:
totalData.head()

                                               title  class
0  donald trump sends out embarrassing new years ...      0
1  drunk bragging trump staffer started russian c...      0
2  sheriff david clarke becomes an internet joke ...      0
3  trump is so obsessed he even has obamas name c...      0
4  pope francis just called out donald trump duri...      0

In [68]:
def lemmatize(text):
  lm = WordNetLemmatizer()
  tokens = [lm.lemmatize(word) for word in text.split()]
  return " ".join(tokens)

In [69]:
## need to lemmatize all the titles by using the lemmatize function
totalData['title'] = totalData['title'].apply(lemmatize)

In [70]:
y = totalData['class']
x = totalData.drop('class', axis=1)

In [71]:
x.head()

                                               title
0  donald trump sends out embarrassing new year e...
1  drunk bragging trump staffer started russian c...
2  sheriff david clarke becomes an internet joke ...
3  trump is so obsessed he even ha obamas name co...
4  pope francis just called out donald trump duri...

In [72]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, stratify=y, random_state=100)

In [73]:
tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1,3), lowercase=True, max_features=5000)
x_train_trans = tfidf.fit_transform(x_train['title'])
x_test_trans = tfidf.fit_transform(x_test['title'])

In [74]:
x_train_trans.shape

(31423, 5000)

In [75]:
rfc = RandomForestClassifier()
rfc.fit(x_train_trans, y_train)

RandomForestClassifier()

In [76]:
y_pred = rfc.predict(x_test_trans)

In [78]:
confusion_matrix(y_test, y_pred)

array([[5261, 1782],
       [4813, 1612]])

In [77]:
accuracy_score(y_test, y_pred)

0.5103207603207603